.body{
  margin: 0;
  padding: 0;
}
.component-header {
  padding: 8px;
  position: relative;
  font-weight: 400;
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 32px;
  text-align: center;
  color: #333;
}

.component-header img {
  position: relative;
  top: 3px;
  padding: 0 8px;
  width: 3%;
}

.heading{
  top: 14px;
}

.github-fork-ribbon{
  width: 18.1em;
  height: 2em;
  position: absolute;
  top: 28px;
  right: -10px;
  font-size: 11px;
  border-radius:50px ;
  background-color:rgb(19, 26, 18);
  transform: rotate(35deg);
  text-align: center;
  text-decoration: none;
  content: attr(title);
  padding: .38em 0;
  line-height: 1.54em;

}